{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my home</title>
</head>

<body>
    <h1>Helloo {{ name }} </h1>
    <!-- <h1>Helloo  {{ lastname }} </h1> -->
    <img src="{% static '/anya.jpeg' %}" width="546">
    <h2> this is anya xD </h2>
    <img src="{% static '/lonely_anya.gif' %}" height="400" width="500">
</body>

</html> 